{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5 mb-5">
        <div class="col-12">
            {% include 'classroom/instructors/_header.html' with active='students' %}
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>exams</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student }}</td>
                            <td>
                                <a class="btn btn-success" href="{% url 'instructor:student_Exam_show' student.pk  %}">show Score </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class=" alert alert-warning text-center" colspan="3">
                                there is any student join your Subject
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
