{% extends 'base.html' %}

{% block content %}
    <br/><br/><br/>
    <h2 class="text-center">
        Your Profile Mr : {{ name }}
    </h2>
    <br/><br/><br/>
    <div class="container mb-5">
        <div id="home">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="profile-user-info">
                        <div class="profile-info-row">
                            <div class="profile-info-name d-inline"><i class="fa fa-user-o light-orange bigger-110"></i> Username : </div>
                            <div class="profile-info-value d-inline">
                                <span>{{ name }}</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="profile-user-info">
                        <div class="profile-info-row">
                            <div class="profile-info-name d-inline"><i class="fa fa-birthday-cake light-orange bigger-110"></i> Birth Date : </div>
                            <div class="profile-info-value d-inline">
                                <span>{{ birth_date }}</span>
                            </div>
                        </div>
                        <hr />
                        <div class="profile-info-row">
                            <div class="profile-info-name d-inline"><i class="fa fa-phone-square light-orange bigger-110"></i> Phone Number : </div>

                            <div class="profile-info-value d-inline">
                                <span>{{ phone }}</span>
                            </div>
                        </div>
                        <hr />
                        <div class="profile-info-row">
                            <div class="profile-info-name d-inline"><i class="fa fa-map-marker light-orange bigger-110"></i> Location : </div>
                            <div class="profile-info-value d-inline">
                                <span>{{ country }}</span>
                            </div>
                        </div>
                        <hr />
                        <div class="profile-info-row">
                            <div class="profile-info-name">
                                <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
                                <i class="middle ace-icon fa fa-twitter-square bigger-150 blue"></i>
                                <i class="middle ace-icon fa fa-google-plus-square bigger-150 blue"></i>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div><!-- /.col-9 -->
                <div class="col-xs-12 col-sm-3">
                    <div class="profile-info-name text-center">Your Avater</div>
                    <br />
                    <span class="profile-picture">
                        <img class="editable img-responsive img-thumbnail" style="border-radius: 50%;" alt=" Avatar" id="avatar2" src="{{ image }}"
                             width="200px" height="200px">
                    </span>
                </div><!-- /.col-3 -->
            </div><!-- /.row -->
            {% if user.is_authenticated %}
                {% if user.is_student %}
                    <div class="row">
                        <h2 class="text-center">Cources</h2>
                        <div class="col-12">
                            <div class="col-4">
                                {% for subject in courses %}
                                    <p class="font-weight-bold bg-primary p-2"> {{ subject.name }}</p>
                                    <hr />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% elif user.is_instructor %}
                     <div class="row mb-5">
                        <h2 class="text-center">Cource</h2>
                        <div class="col-12">
                            <div class="col-4">
                                <p class="font-weight-bold bg-danger p-2">{{ course.name }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="button" class="btn btn-sm btn-block btn-success"
                            data-toggle="modal"
                            data-target="#edit-profile-modal">
                        <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                        <span class="bigger-110">edit</span>
                    </button>
                    <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document"
                             style="background-color:#161515">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"
                                        style="color:#ffa101">Profile</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                {% if user.is_authenticated %}
                                    {% if user.is_student %}
                                        <form method="POST"
                                              action="{% url 'edit_student_profile' %}"
                                              enctype="multipart/form-data">
                                    {% elif user.is_instructor %}
                                        <form method="POST"
                                              action="{% url 'edit_instructor_profile' %}"
                                              enctype="multipart/form-data">
                                    {% endif %}
                                {% endif %}
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_profile_pic" style="color:#ffa101">Profile
                                            pic:</label>
                                        <input type="file" name="profile_pic" accept="image/*"
                                               id="id_profile_pic" class="form-control"
                                               value="{{ image }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_name" style="color:#ffa101">User Name</label>
                                        <input type="text" name="name" maxlength="30" id="id_name"
                                               class="form-control" value="{{ name }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="id_phone" style="color:#ffa101">Phone:</label>
                                        <input type="text" name="phone" maxlength="15" id="id_phone"
                                               class="form-control" value="{{ phone }}">
                                    </div>


                                    <div class="form-group">
                                        <label for="id_country"
                                               style="color:#ffa101">Country:</label>
                                        <input type="text" name="country" maxlength="15"
                                               id="id_country"
                                               class="form-control" value="{{ country }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_birth_date" style="color:#ffa101">Birth
                                            date:</label>
                                        <input type="date" value="2000-01-01" name="birth_date"
                                               id="id_birth_date"
                                               class="form-control" value="{{ birth_date }}">
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
    </div><!-- /#home -->
{% endblock %}